
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<DTO.CategoryDTO>
<div class="content-header">
    <h2>Category List</h2>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Category</a></li>
        <li class="breadcrumb-item"><a>Category List</a></li>
    </ol>
</div>
<br />
<div class="card-footer">
    <button class="btn btn-primary" onclick="window.location.href='/Admin/Category/AddCategory'">Add Category</button>
</div>
<br />
<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr id="a_@item.ID">
                        <td>@item.CategoryName</td>
                        <td align="center" valign="middle">
                            <a href="/Admin/Category/UpdateCategory/@item.ID">
                                <br />
                                <img style="height:16px;width:16px;" src="~/Areas/Admin/Content/icon/icons-update.gif" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />
                                <img onclick="AskQuestion('/Admin/Category/DeleteCategory/',@item.ID)" style="height:16px;width:16px;" src="~/Areas/Admin/Content/icon/delete-icon.png" />
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Category Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/js/DeleteRecord.js"></script>